<nav>
    <a href="index.html">Click to go to ITIS3135 Site</a>
    -
    <a href="https://kballou2.github.io/">GitHub Pages</a>
    -
    <a href="https://github.com/kballou2/kballou2.github.io">GitHub Repository</a>
    -
    <a href="https://www.freecodecamp.org/kellen_ballou">FreeCodeCamp</a>
    -
    <a href="https://www.codecademy.com/profiles/kellen_ballou">Codecademy</a>
</nav>
<p>Designed by <a href="kindbearwebdesign.co/index.html">&copy; 2024 Kind Bear Web Design</a></p>
<a href="https://validator.w3.org/check?uri=referer">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!" id="validated-html">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" id="validated-css">
</a>