<h1>Kellen Ballou's Site</h1>
<p>Kind Bear ITIS 3135</p>
<q><strong>"Inspire the future, Design your Life"</strong></q>
<nav>
  <a href="../index.html">Home</a> ~
  <a href="index.html">ITIS3135 Home Page</a> ~
  <a href="introduction.html">Introduction</a> ~
  <a href="contract.html">Contract</a> ~
  <a href="about.html">About</a> ~
  <a href="tables.html">Tables</a> ~
  <a href="forms.html">Forms</a> ~
  <a href="../STUFF/My Awesome Page 😊 & Info.htm">CRAPPY</a> ~
  <a href="website_evaluations.html">Website Evaluations</a> ~
  <a href="firstscripts.html">First Scripts</a> ~ 
  <a href="byo_intro.html">BYO Introduction Page</a> ~
  <a href="project_overview.html">Project Overview</a> ~
  <a href="drawing.html">Drawing</a> ~
  <a href="slideshow.html">Slideshow</a> ~ 
  <a href="hobby/index.html">Midterm</a>
</nav>